.card {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px; /* optionnel, ajoute de l'espace entre les éléments */
    margin-top: 3em;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
}