<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900 pb-0"
>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <h1 class="mb-0 text-center laptop:mb-16 text-40 laptop:text-64">
      <span class="font-light">Internet à</span> <br />
      <b>toute vitesse</b>
    </h1>
    <article
      class="flex flex-col-reverse items-center w-full overflow-hidden mb-16 laptop:mb-0 mt-16 laptop:flex-row laptop:flex-row-reverse"
    >
      <div
        class="flex flex-col justify-center flex-1 py-[2%] px-[5%] desktop:px-[8%] laptop:w-[45%] laptop:w-min-[45%] h-auto"
      >
        <h2 class="m-0 text-start mt-[10px] text-24 laptop:text-40">
          La Fibre ultra rapide.
        </h2>
        <p class="m-0 text-start mr-[0.9em] mt-[10px] text-16">
          Regardez un film ou une série, passez vos appels en visio, téléchargez
          vos fichiers, jouez en réseau. Tous vos usages à toute vitesse, en
          même temps et sans interruption. <br />
          <b class="font-semibold"
            >La Fibre aussi rapide c’est seulement chez Free ! *</b
          >
        </p>
        <div
          class="z-10 flex flex-col items-center justify-between w-full py-6 laptop:flex-row"
        >
          <div
            class="flex flex-col items-center pb-4 mb-auto destkop:py-6 desktop:mr-14 laptop:items-baseline w-54 tablet:w-42 laptop:py-0"
          >
            <p class="m-0 font-semibold text-16">Jusqu'à</p>
            <div class="flex flex-row items-center py-1">
              <p
                class="leading-none font-iliad mb-0 mr-1 text-yellow text-[54px]"
              >
                5
              </p>
              <p class="m-0 text-20">Gbit/s</p>
            </div>
            <p class="text-black text-14">
              partagés<sup class="parsed-sup">1</sup> en débit descendant
            </p>
            <hr class="border-gray-800 w-46 laptop:hidden" />
          </div>
          <div
            class="flex flex-col items-center pb-4 mb-auto destkop:py-6 desktop:mr-14 laptop:items-baseline w-54 tablet:w-42 laptop:py-0"
          >
            <p class="m-0 font-semibold text-16">Jusqu'à</p>
            <div class="flex flex-row items-center py-1">
              <p
                class="leading-none font-iliad mb-0 mr-1 text-yellow text-[54px]"
              >
                700
              </p>
              <p class="m-0 text-20">Mbit/s</p>
            </div>
            <p class="text-black text-14">en débit montant</p>
            <hr class="border-gray-800 w-46 laptop:hidden" />
          </div>
          <div
            class="flex flex-col items-center pb-4 mb-auto destkop:py-6 desktop:mr-14 laptop:items-baseline w-54 tablet:w-42 laptop:py-0"
          >
            <p class="m-0 font-semibold text-16">Plus de</p>
            <div class="flex flex-row items-center py-1">
              <p
                class="leading-none font-iliad mb-0 mr-1 text-yellow text-[54px]"
              >
                100
              </p>
              <p class="m-0 text-20">Fois</p>
            </div>
            <p class="text-black text-14">plus rapide que l'ADSL</p>
          </div>
        </div>
        <p class="text-gray-900 text-start text-12">
          1. Débit maximum théorique jusqu’à 5 Gbit/s partagés en descendant
          (jusqu’à : 2,5 Gbit/s sur 1 port Ethernet, 1 Gbit/s sur 2 ports
          Ethernet et 0,5 Gbit/s en Wi-Fi).
        </p>
      </div>
      <img
        role="none"
        class="image m-w-full h-auto object-contain blur-[10px] flex-1 w-[75%] tablet:w-[45%] laptop:w-min-[45%] h-auto object-cover self-center"
        alt="Serveur Freebox Pop"
        loading="eager"
        src="/assets/img/popYellowCircle.png"
        style="filter: blur(0px)"
      />
    </article>
    <div
      class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row-reverse"
    >
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:ml-6 desktop-xl:ml-28 desktop:ml-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="/assets/img/wifi6Pop.png"
                alt="Freebox pop avec Wi-fi 6"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <h2 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          La dernière génération de Wi-Fi.
        </h2>
        <div></div>
        <p class="text-left">
          La Freebox Pop intègre désormais le <b>Wi-Fi 6</b> pour vous offrir
          une vitesse de connexion encore plus rapide. Profitez de débits
          jusqu’à <b>2 fois plus rapides qu’en Wi-Fi 5</b>, à plus de 1 Gbit/s
          !* <br />
          Le Wi-Fi 6 améliore aussi la qualité de votre Wi-Fi et permet de
          connecter encore plus d’appareils sans que cela n’encombre votre
          réseau. <br /><br />
          Pour connecter vos équipements mobiles à votre réseau Wi-Fi, rien de
          plus simple ! Scannez le QR Code qui s'affiche sur le Server Freebox
          Pop et vous êtes connecté !
          <b>Plus besoin de saisir de code Wi-Fi.</b>
        </p>
      </div>
    </div>
    <div class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row">
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:mr-6 desktop-xl:mr-28 desktop:mr-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="/assets/img/popRepeater.png"
                alt="Répéteur Wi-fi Pop"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <h2 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          Le répéteur Wi-Fi Pop inclus sur demande.
        </h2>
        <div></div>
        <p class="text-left">
          Vous disposez d’un logement de plus de 80m2 ?
          <b>Étendez votre connexion Wi-Fi partout chez vous</b>, même dans les
          pièces les plus éloignées avec le répéteur Wi-Fi Pop.
          <b>Ses fonctions intelligentes</b> vous permettent de profiter dans
          toutes les pièces de votre logement d’un Wi-Fi de qualité et de vous
          déplacer en toute sérénité.<br /><br />
          <b>Laissez-le s’installer seul</b> : l’installation est automatique,
          il suffit de le brancher et il est prêt à être utilisé !
        </p>
        <a
          class="flex justify-center items-center duration-300 ease-in-out transition-colors text-16 border-none w-fit box-border mt-4 cursor-pointer font-semibold hover:!underline hover:text-gray-700 focus:outline-none text-red !text-gray-800 hover:!text-gray-700 font-semibold color-gray-900"
          href="https://www.free.fr/freebox/repeteurwifi-pop/"
          rel="noopener noreferrer"
          target="_blank"
          ><span>Découvrir le répéteur Wi-Fi Pop</span></a
        >
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900 laptop:pb-32"
>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <div
      class="flex flex-col laptop:flex-row laptop:px-20 mt-8 laptop:mt-16 desktop:px-34 desktop-lg:px-40 px-4 rounded-16 items-center laptop:bg-white laptop:flex-row-reverse"
    >
      <img
        src="/assets/img/smartphoneAndQRCodeLightBackground.png"
        alt="Appplication Freebox Connect"
        class="w-full bg-gray-50 max-w-[600px]"
      />
      <div class="flex flex-col">
        <h2 class="mt-6 font-semibold text-24 desktop:text-40 laptop:mb-4">
          Contrôlez l'état de vos équipements Freebox.
        </h2>
        <p class="mb-0">
          Avec l’appli Freebox Connect, contrôlez l’état de vos équipements
          Freebox et gérez votre réseau en un coup d’oeil.
        </p>
        <div class="flex mt-4">
          <div class="store-button jss143">
            <a
              class="button jss40 jss146 jss149"
              href="https://apps.apple.com/fr/app/freebox-connect/id1478615759"
              rel="noopener noreferrer"
              target="_blank"
              ><p class="jss42"></p></a
            ><a
              class="button jss40 jss146 jss147"
              href="https://play.google.com/store/apps/details?id=fr.freebox.network"
              rel="noopener noreferrer"
              target="_blank"
              ><p class="jss42"></p
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900 override:pb-0 desktop-lg:px-16 laptop:pt-32"
>
  <h2
    class="px-4 m-0 font-bold text-center text-28 laptop:px-8 laptop:text-32 max-w-[960px]"
  >
    Prenez le contrôle avec OQEE by Free.
  </h2>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <div class="flex flex-col items-center w-full tablet:mb-8">
      <div
        class="flex justify-center sticky pt-16 top-[15vh] tablet:top-[22vh] tablet:opacity-50 opacity-10 delay-75 transition-opacity duration-500 ease-in-out"
      >
        <img
          src="/assets/img/darkOqee.png"
          alt="background oqee elevator"
          class="max-h-[400px] tablet:h-fit tablet:max-w-[750px] desktop-xl:max-w-[1000px] scale-[.4] delay-75 transition-transform duration-500 ease-in-out"
          height="509"
        />
      </div>
      <div
        class="my-8 px-4 z-10 max-w-[432px] tablet:px-8 tablet:flex tablet:flex-col tablet:max-w-88 desktop-lg:max-w-[504px] tablet:odd:self-start tablet:even:self-end mt-10 tablet:mt-20"
      >
        <h3 class="mb-4 text-28 laptop:text-32">
          Le direct, c’est maintenant !
        </h3>
        <p class="text-16">
          Plus de <b class="font-semibold">550 chaînes TV</b> en direct, dont
          220 incluses. <br />
          Profitez du meilleur du sport, cinéma, séries, infos, musique...
        </p>
      </div>
      <div
        class="my-8 px-4 z-10 max-w-[432px] tablet:px-8 tablet:flex tablet:flex-col tablet:max-w-88 desktop-lg:max-w-[504px] tablet:odd:self-start tablet:even:self-end"
      >
        <h3 class="mb-4 text-28 laptop:text-32">Contrôlez le direct.</h3>
        <p class="text-16">
          Regardez vos programmes TV en direct, mettez-les en pause ou revenez
          en arrière comme vous le souhaitez.
        </p>
      </div>
      <div
        class="my-8 px-4 z-10 max-w-[432px] tablet:px-8 tablet:flex tablet:flex-col tablet:max-w-88 desktop-lg:max-w-[504px] tablet:odd:self-start tablet:even:self-end"
      >
        <h3 class="mb-4 text-28 laptop:text-32">
          Adoptez vos chaînes favorites.
        </h3>
        <p class="text-16">
          Sélectionnez et ajoutez vos chaînes préférées en favoris pour une
          navigation encore plus rapide.
        </p>
      </div>
      <div
        class="my-8 px-4 z-10 max-w-[432px] tablet:px-8 tablet:flex tablet:flex-col tablet:max-w-88 desktop-lg:max-w-[504px] tablet:odd:self-start tablet:even:self-end"
      >
        <h3 class="mb-4 text-28 laptop:text-32">
          Visionnez vos programmes en replay.
        </h3>
        <p class="text-16">
          Retrouvez vos émissions grâce à de nombreuses chaînes en replay.
        </p>
      </div>
      <div
        class="my-8 px-4 z-10 max-w-[432px] tablet:px-8 tablet:flex tablet:flex-col tablet:max-w-88 desktop-lg:max-w-[504px] tablet:odd:self-start tablet:even:self-end"
      >
        <h3 class="mb-4 text-28 laptop:text-32">Enregistrez vos programmes.</h3>
        <p class="text-16">
          Enregistrez dans le cloud : en direct ou programmez vos
          enregistrements pour visionner vos émissions, films ou séries à tout
          moment.
        </p>
      </div>
      <div
        class="my-8 px-4 z-10 max-w-[432px] tablet:px-8 tablet:flex tablet:flex-col tablet:max-w-88 desktop-lg:max-w-[504px] tablet:odd:self-start tablet:even:self-end"
      >
        <h3 class="mb-4 text-28 laptop:text-32">
          La reprise de vos programmes où vous voulez.
        </h3>
        <p class="text-16">
          Reprenez votre programme préféré là où vous vous en êtes arrêté,
          depuis n’importe quel écran, chez vous ou en mobilité.
        </p>
      </div>
      <div
        class="my-8 px-4 z-10 max-w-[432px] tablet:px-8 tablet:flex tablet:flex-col tablet:max-w-88 desktop-lg:max-w-[504px] tablet:odd:self-start tablet:even:self-end"
      >
        <h3 class="mb-4 text-28 laptop:text-32">
          Diffusez avec Chromecast et AirPlay.
        </h3>
        <p class="text-16">
          Lancez et contrôlez vos programmes depuis votre application mobile
          OQEE by Free sur votre télévision.
        </p>
      </div>
      <div
        class="my-8 px-4 z-10 max-w-[432px] tablet:px-8 tablet:flex tablet:flex-col tablet:max-w-88 desktop-lg:max-w-[504px] tablet:odd:self-start tablet:even:self-end"
      >
        <h3 class="mb-4 text-28 laptop:text-32">
          Achetez ou louer les meilleurs films.
        </h3>
        <p class="text-16">
          Regardez les dernières sorties ou les plus grands classiques du cinéma
          avec Canal VOD, Filmo et Frissons extrêmes.
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900"
>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <div
      class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row-reverse"
    >
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:ml-6 desktop-xl:ml-28 desktop:ml-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="https://cdn.tools.scw.iliad.fr/iliad-strapi-freebox/large_visuels_page_freebox_Oqee_Cine2_ffd255f2f7.png"
                alt="OQEE Ciné"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <p class="mb-0 font-bold text-24 desktop:text-40 text-red">NOUVEAU</p>
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          OQEE Ciné gratuit avec votre offre Freebox.
        </h3>
        <div></div>
        <p class="text-left">
          Découvrez OQEE Ciné, le nouveau service de vidéo à la demande.
          <b>Plus de 300 films et séries inclus</b> avec Freebox Pop et
          disponibles en illimité sur votre TV via le player Freebox. Accessible
          également en mobilité via l’application OQEE by Free*.
        </p>
        <a
          class="flex justify-center items-center duration-300 ease-in-out transition-colors text-16 border-none w-fit box-border mt-4 cursor-pointer font-semibold hover:!underline hover:text-gray-700 focus:outline-none text-red !text-gray-800 hover:!text-gray-700 font-semibold color-gray-900"
          href="/freebox/oqee-by-free#oqee_cine"
          ><span>Découvrir OQEE Ciné</span></a
        >
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900"
>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <div
      class="flex flex-col laptop:flex-row laptop:px-20 mt-8 laptop:mt-16 desktop:px-34 desktop-lg:px-40 px-4 rounded-16 items-center laptop:bg-white laptop:flex-row"
    >
      <img
        src="/assets/img/oqee_smartphone_QR_code_light_background.png"
        alt="Application OQEE"
        class="w-full bg-gray-50 max-w-[600px]"
      />
      <div class="flex flex-col">
        <h2 class="mt-6 font-semibold text-24 desktop:text-40 laptop:mb-4">
          Emportez vos programmes TV partout avec vous !
        </h2>
        <p class="mb-0">
          Avec l'application OQEE by Free, profitez des meilleurs programmes en
          direct et en replay, chez vous ou à emporter.
        </p>
        <div class="flex mt-4">
          <div class="store-button jss143">
            <a
              class="button jss40 jss146 jss149"
              href="https://apps.apple.com/fr/app/oqee-by-free/id1542614107"
              rel="noopener noreferrer"
              target="_blank"
              ><p class="jss42"></p></a
            ><a
              class="button jss40 jss146 jss147"
              href="https://play.google.com/store/apps/details?id=net.oqee.androidmobile"
              rel="noopener noreferrer"
              target="_blank"
              ><p class="jss42"></p
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900 !pb-0"
>
  <h2
    class="px-4 m-0 font-bold text-center text-28 laptop:px-8 laptop:text-32 max-w-[960px]"
  >
    Accédez à vos contenus TV favoris en option.
  </h2>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <div
      class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row-reverse"
    >
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:ml-6 desktop-xl:ml-28 desktop:ml-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="https://cdn.tools.scw.iliad.fr/iliad-strapi-freebox/FREEBOX_POP_713x713_d5f01514a4.jpg"
                alt="The english"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <div class="w-30 laptop:w-40 mt-6">
          <img src="/assets/img/canalPlusSeries.svg" />
        </div>
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          en option, 12 mois inclus
        </h3>
        <div>
          <p
            class="inline-block px-2 py-1 mb-4 font-semibold rounded-16 text-12 bg-gray-50"
          >
            puis 9,99€/mois
          </p>
        </div>
        <p class="text-left">
          L'offre 100% séries et 100% digitale de CANAL+, avec toutes les
          Créations Originales, des séries US et européennes.
        </p>
        <a
          class="flex justify-center items-center duration-300 ease-in-out transition-colors text-16 border-none w-fit box-border mt-4 cursor-pointer font-semibold hover:!underline hover:text-gray-700 focus:outline-none text-red !text-gray-800 hover:!text-gray-700 font-semibold color-gray-900"
          href="/freebox/canal-plus-series/"
          ><span>Découvrir Canal+Series</span></a
        >
      </div>
    </div>
    <div class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row">
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:mr-6 desktop-xl:mr-28 desktop:mr-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="https://cdn.tools.scw.iliad.fr/iliad-strapi-freebox/LOLF_S3_LRD_Free_Banner_POST_Partnerships_631x600_PV_fr_FR_4dc1e7a383.png"
                alt="LOL : Qui Rit, Sort ! Saison 3"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <div class="w-30 laptop:w-40 mt-6">
          <img src="/assets/img/amazonPrimeVideo.svg" />
        </div>
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          en option, 6 mois offerts
        </h3>
        <div>
          <p
            class="inline-block px-2 py-1 mb-4 font-semibold rounded-16 text-12 bg-gray-50"
          >
            puis 6,99€/mois
          </p>
        </div>
        <p class="text-left">
          Avec Prime Video, accédez en illimité et en exclusivité à un catalogue
          de programmes Amazon Original primés, de films et séries à succès et
          d’émissions TV sur tous vos équipements (TV, smartphone, tablette,
          PC). Profitez également de tous les avantages Amazon Prime : Amazon
          Music Prime, la livraison prioritaire gratuite (ou 0.01€ par livre) et
          bien d’autres choses...
        </p>
        <a
          class="flex justify-center items-center duration-300 ease-in-out transition-colors text-16 border-none w-fit box-border mt-4 cursor-pointer font-semibold hover:!underline hover:text-gray-700 focus:outline-none text-red !text-gray-800 hover:!text-gray-700 font-semibold color-gray-900"
          href="/freebox/amazon-prime/"
          ><span>Découvrir Amazon Prime</span></a
        >
      </div>
    </div>
    <div
      class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row-reverse"
    >
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:ml-6 desktop-xl:ml-28 desktop:ml-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="https://cdn.tools.scw.iliad.fr/iliad-strapi-freebox/large_DIS_FEB_FREE_FR_LANDING_PA_THE_MANDALORIAN_1080x1080_29ea5c8986.jpg"
                alt="HIMYM"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <div class="w-30 laptop:w-40 mt-6">
          <img src="/assets/img/disney-logo-primary.svg" />
        </div>
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          en option, 3 mois inclus
        </h3>
        <div>
          <p
            class="inline-block px-2 py-1 mb-4 font-semibold rounded-16 text-12 bg-gray-50"
          >
            puis 8,99€/mois
          </p>
        </div>
        <p class="text-left">
          Découvrez Disney+, la nouvelle plateforme de streaming pour voir et
          revoir les séries, films et documentaires les plus appréciés issus des
          catalogues Disney, Pixar, Marvel, Star Wars, National Geographic et
          Star !
        </p>
        <a
          class="flex justify-center items-center duration-300 ease-in-out transition-colors text-16 border-none w-fit box-border mt-4 cursor-pointer font-semibold hover:!underline hover:text-gray-700 focus:outline-none text-red !text-gray-800 hover:!text-gray-700 font-semibold color-gray-900"
          href="/freebox/disney-plus/"
          ><span>Découvrir Disney+</span></a
        >
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900"
>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <div
      class="flex flex-col laptop:flex-row laptop:px-20 mt-8 laptop:mt-16 desktop:px-34 desktop-lg:px-40 px-4 rounded-16 items-center laptop:bg-white laptop:flex-row-reverse"
    >
      <img
        src="/assets/img/ligue_un.png"
        alt="application Free ligue 1"
        class="w-full bg-gray-50 max-w-[600px]"
      />
      <div class="flex flex-col">
        <h2 class="mt-6 font-semibold text-24 desktop:text-40 laptop:mb-4">
          App Free Ligue 1 <br />
          inclus dans votre offre
        </h2>
        <p class="mb-0">
          Avec Free Ligue 1 inclus dans l'offre Freebox Pop,
          <b>suivez les meilleurs moments* de la Ligue 1 Uber Eats !</b> <br />
          Les clips de 100% des matches en instantané, des contenus exclusifs et
          originaux à l’image du foot d’aujourd’hui. Le meilleur de la Ligue 1
          Uber Eats disponible dans votre poche grâce à l’appli sur smartphone
          et sur votre TV depuis votre Freebox pour ne rien rater de la
          compétition.
        </p>
        <div class="flex mt-4">
          <div class="store-button jss143">
            <a
              class="button jss40 jss146 jss149"
              href="https://apps.apple.com/fr/app/id1515147972"
              rel="noopener noreferrer"
              target="_blank"
              ><p class="jss42"></p></a
            ><a
              class="button jss40 jss146 jss147"
              href="https://play.google.com/store/apps/details?id=fr.free.ligue1"
              rel="noopener noreferrer"
              target="_blank"
              ><p class="jss42"></p
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900"
>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <div
      class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row-reverse"
    >
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:ml-6 desktop-xl:ml-28 desktop:ml-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="/assets/img/freebox/freeboxPop/features/4K.png"
                alt="TV 4K"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          Plein les yeux... <br />
          et les oreilles.
        </h3>
        <div></div>
        <p class="text-left">
          Le Player Pop vous plonge dans une
          <b>qualité d’image Ultra Haute Définition</b>, avec des couleurs
          éclatantes, des contrastes spectaculaires et un niveau de détail 4
          fois supérieur à la Full HD, grâce à la 4K HDR Dolby Vision. Profitez
          aussi de vos contenus TV en totale immersion grâce à la qualité sonore
          Dolby Atmos (avec équipements compatibles).
        </p>
      </div>
    </div>
    <div class="flex items-center my-16 w-full px-4 flex-col">
      <div
        class="w-full w-full h-auto' max-w-[1500px] laptop:mr-6 desktop-xl:mr-28 desktop:mr-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 328 / 151"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 328 / 151"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="/assets/img/freebox/freeboxPop/features/multi-tv-mobile.png"
                alt="Télévisions"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full max-w-[867px]">
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-center">
          Profitez du Multi-TV.
        </h3>
        <div></div>
        <p class="text-center">
          Permettez à chaque membre de votre famille de regarder un programme
          différent en équipant les téléviseurs de votre logement d'un boîtier
          TV Freebox Pop supplémentaire.
        </p>
        <p
          class="bg-gray-900 text-gray-50 px-2 py-1 rounded-full w-fit text-12 mx-auto"
        >
          En option à 4,99€/mois.
        </p>
        <p class="text-gray-900 text-12 text-center">
          Disponible depuis l'Espace Abonné.
        </p>
      </div>
    </div>
    <div class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row">
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:mr-6 desktop-xl:mr-28 desktop:mr-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="/assets/img/freebox/freeboxPop/features/controller.png"
                alt="Télécommande Freebox Pop"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          Pilotez votre TV <br />
          simplement.
        </h3>
        <div></div>
        <p class="text-left">
          Lancez vos programmes en un clic grâce à la télécommande Freebox Pop
          qui intègre des raccourcis vers l'interface TV OQEE by Free et vos
          applis favorites Netflix, Prime Video, Disney+ et CANAL+.
        </p>
      </div>
    </div>
    <div
      class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row-reverse"
    >
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:ml-6 desktop-xl:ml-28 desktop:ml-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="/assets/img/freebox/freeboxPop/features/phone.png"
                alt="Téléphone fixe Free"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          Téléphonez sans limite.
        </h3>
        <div></div>
        <p class="text-left">
          L’offre Freebox Pop inclut <b>les appels vers les mobiles</b> en
          France métropolitaine, DOM et certaines destinations comme les
          Etats-Unis, la Chine, le Canada et le Cambodge ainsi que
          <b>vers les fixes de plus de 110 destinations.</b>
        </p>
      </div>
    </div>
    <div class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row">
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:mr-6 desktop-xl:mr-28 desktop:mr-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="/assets/img/freebox/freeboxPop/features/pop.png"
                alt="Freebox pop avec le player et sa télécommande"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          Un design inédit.
        </h3>
        <div></div>
        <p class="text-left">
          Freebox Pop est la plus petite Box jamais conçue. Un format
          <b>incroyablement petit</b> pour se glisser partout chez vous.
          <b>Son design rond, simple</b> aux lignes épurées lui confère un
          caractère unique : tellement différente de toutes les autres Box !
          <br /><br />
          La Freebox Pop vainqueur du prestigieux prix
          <b>Red Dot Award : Product Design</b> pour son design.
        </p>
        <img
          class="object-contain h-38 w-38"
          alt="Red dot Award"
          src="/assets/img/freebox/devices/pop/redDotAward.png"
        />
      </div>
    </div>
    <div
      class="flex items-center my-16 w-full px-4 flex-col laptop:flex-row-reverse"
    >
      <div
        class="w-full w-full h-auto' w-full tablet:w-[45%] laptop:w-[713px] laptop:h-[713px] laptop:ml-6 desktop-xl:ml-28 desktop:ml-18"
      >
        <div
          class="relative flex flex-row justify-center items-center w-full"
          style="aspect-ratio: 4 / 4"
        >
          <div role="none">
            <picture
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full"
              style="object-fit: contain; aspect-ratio: 4 / 4"
              ><source class="w-full h-full" />
              <img
                class="w-full h-full"
                loading="lazy"
                src="/assets/img/freebox/freeboxPop/features/package.png"
                alt="L'emballage de la Freebox Pop"
                style="object-fit: contain"
            /></picture>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full laptop:w-[420px] desktop:w-[568px]">
        <h3 class="mt-4 mb-4 font-bold text-24 desktop:text-40 text-left">
          Pop et responsable.
        </h3>
        <div></div>
        <p class="text-left">
          De sa <b>taille à son emballage</b>, en passant par son
          <b>mode de livraison et son recyclage</b>, tout a été pensé pour faire
          de Freebox Pop un produit éco-responsable. <br /><br />
          Conçue pour avoir une <b>durée de vie minimale de 10 ans</b> et pour
          consommer <b>40% d’énergie en moins</b> que les autres Freebox, tout
          en étant 5 fois plus puissante, Freebox Pop s’inscrit dans une
          démarche de lutte contre l’obsolescence programmée.
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900 px-4 laptop:px-4"
>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <h2
      class="text-center text-40 mt-0 laptop:mb-0 laptop:text-64 laptop:max-w-[700px]"
    >
      <span class="font-light">Une offre à</span> <br />
      prix Free.
    </h2>
    <div class="flex laptop:flex-row flex-col laptop:h-[645px] items-center">
      <img
        role="none"
        class="image m-w-full h-auto object-contain blur-[10px] laptop:max-w-[550px] w-full laptop:mr-[90px]"
        alt="Freebox Pop avec player et répéteur wifi"
        loading="eager"
        src="/assets/img/freebox/freeboxPop/popWithPlayer.jpg"
        style="filter: blur(0px)"
      />
      <div class="laptop:w-[424px] text-center laptop:text-left">
        <h3 class="m-0 font-bold text-32 font-iliad">Freebox Pop</h3>
        <p class="m-0 leading-7 text-gray-900 text-14">
          Internet (Fibre/ADSL) + Répéteur Wi-Fi + Téléphonie + TV (avec Player
          Pop)
        </p>
        <div class="flex flex justify-center mt-6 laptop:justify-start">
          <p class="leading-none font-iliad text-red m-0 text-[90px]">29</p>
          <div class="flex flex-col text-red-500">
            <p class="font-iliad m-0 ml-1 text-[36px]">€99</p>
            <div class="flex">
              <p class="text-20 m-0 text-black">/</p>
              <p class="text-20 m-0 text-black">mois</p>
            </div>
          </div>
        </div>
        <p class="m-0 font-semibold text-gray-900 text-16">
          pendant 1 an puis 39,99€/mois.
        </p>
        <p
          class="px-2 py-1 mx-auto mt-2 font-semibold text-gray-700 rounded-full laptop:mx-0 bg-gray-50 w-fit text-12"
        >
          Sans engagement
        </p>
        <p class="mt-6 mb-0 text-left text-gray-900 text-14">
          Free prend en charge les frais de résiliation de votre ancien
          opérateur jusqu'à 100€.
          <a class="parsed-url" href="/freebox/resiliez-votre-fai/"
            >Cliquez ici pour en savoir plus.</a
          >
        </p>
        <a
          class="button jss40 jss43 mt-6 !w-full laptop:!w-fit"
          href="https://signup.free.fr/subscribe_promo/00_choose_offre.pl?pre_box=pop#pop"
          rel="noopener noreferrer"
          target="_blank"
          ><p class="jss42">S'abonner</p></a
        >
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-white text-gray-900"
>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <div
      class="flex flex-col laptop:flex-row laptop:px-20 mt-8 laptop:mt-16 desktop:px-34 desktop-lg:px-40 px-4 rounded-16 items-center laptop:bg-white laptop:flex-row-reverse"
    >
      <img
        src="/assets/img/callouts/lightBackground/free_mobile.png"
        alt="Free Mobile 5G"
        class="w-full bg-gray-50 max-w-[600px]"
      />
      <div class="flex flex-col">
        <h2 class="mt-6 font-semibold text-24 desktop:text-40 laptop:mb-4">
          Le Forfait mobile Free 5G<br />à moitié prix.
        </h2>
        <p class="mb-0">
          RÉSERVÉ AUX ABONNÉS FREEBOX POP !<br /><br />Profitez des appels,
          SMS/MMS, internet 5G/4G illimités en France et de 25Go/mois à
          l'étranger avec le Forfait Free 5G
          <b class="font-semibold"
            >pour seulement 9.99€/mois au lieu de 19.99€/mois.</b
          ><br /><br />Pour en profiter, abonnez-vous à l’offre Freebox Pop puis
          au Forfait mobile Free !
        </p>
        <a
          class="flex justify-center items-center duration-300 ease-in-out transition-colors text-16 border-none w-fit box-border mt-4 cursor-pointer font-semibold hover:!underline hover:text-gray-700 focus:outline-none text-red !text-gray-800 hover:!text-gray-700 font-semibold color-gray-900"
          href="/freebox/offres-freebox-mobile/"
          rel="noopener noreferrer"
          target="_blank"
          ><span>Simuler mes économies</span
          ><span class="pr-2 ml-2 fill-black"
            ><svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.172 7.16277L6.808 1.79877L8.222 0.384766L16 8.16277L8.222 15.9408L6.808 14.5268L12.172 9.16277H0V7.16277H12.172Z"
                fill="#161616"
              ></path></svg></span
        ></a>
      </div>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center w-full py-16 px-4 laptop:px-8 desktop-lg:px-32 bg-gray-800 text-gray-50 PlayerService_sectionWrapper__eMDYd"
>
  <h2
    class="px-4 m-0 font-bold text-center text-28 laptop:px-8 laptop:text-32 max-w-[960px]"
  >
    La liberté de choisir <br />
    <b class="font-semibold">votre player TV</b>
  </h2>
  <div class="flex flex-col items-center w-full max-w-[1624px]">
    <ul class="flex flex-col p-0 m-0 mt-16 list-none laptop:flex-row">
      <li
        class="w-[280px] rounded-16 bg-white py-6 px-4 flex flex-col items-center border-red border-4"
      >
        <img
          role="none"
          class="image m-w-full h-auto object-contain blur-[10px] w-54"
          alt="Player Pop"
          loading="eager"
          src="/assets/img/shared/devices/player-pop.png"
          style="filter: blur(0px)"
        />
        <h3
          class="text-gray-900 font-regular text-center text-20 m-0 mt-6 pt-1"
        >
          Player <b class="font-semibold">Pop</b>
        </h3>
        <p
          class="text-gray-400 text-center m-0 mt-2 PlayerService_blackBold__zM7LK"
        >
          <b class="font-semibold">inclus</b> <br />
          dans l'offre Freebox Pop
        </p>
        <a
          class="button jss40 jss43 mt-8 !px-6 !text-16"
          href="https://signup.free.fr/subscribe_promo/00_choose_offre.pl?pre_box=pop#pop"
          ><p class="jss42">S'abonner</p></a
        >
      </li>
      <li
        class="w-[280px] rounded-16 bg-white py-6 px-4 flex flex-col items-center mt-8 laptop:mt-0 laptop:ml-4"
      >
        <img
          role="none"
          class="image m-w-full h-auto object-contain blur-[10px] w-54"
          alt="Apple TV 4K"
          loading="eager"
          src="/assets/img/shared/devices/player-appletv.png"
          style="filter: blur(0px)"
        />
        <h3
          class="text-gray-900 font-regular text-center text-20 m-0 mt-6 pt-1"
        >
          <b class="font-semibold">Apple TV 4K</b>
        </h3>
        <p
          class="text-gray-400 text-center m-0 mt-2 PlayerService_blackBold__zM7LK"
        >
          en option à l’achat⁴ <br />
          +2,99€/mois pendant 48 mois
        </p>
        <a
          class="button jss40 jss43 mt-8 !px-6 !text-16"
          href="/freebox/apple-tv-4K/"
          ><p class="jss42">Découvrir</p></a
        >
      </li>
    </ul>
  </div>
</section>


<style data-jss="" data-meta="makeStyles">
    .jss143 {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
    }
    @media (max-width:1023.95px) {
      .jss143 {
        justify-content: center;
      }
    }
    .jss144 {
      height: fit-content;
      display: flex;
      text-align: left;
      flex-direction: column-reverse;
    }
    @media (max-width:1023.95px) {
      .jss144 {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-around;
      }
    }
    .jss145 {
      width: 170px;
      padding: 0;
      min-height: 50px;
      transition: opacity 0.3s ease-in-out;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: left;
    }
    @media (max-width:599.95px) {
      .jss145 {
        width: 50%;
      }
    }
    .jss145:hover {
      opacity: 0.7;
    }
    .jss146 {
      width: 175px;
      margin: 8px;
      padding: 0;
      box-sizing: border-box;
      min-height: 50px;
      transition: opacity 0.3s ease-in-out;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    @media (max-width:599.95px) {
      .jss146 {
        width: 50%;
      }
    }
    .jss146:hover {
      opacity: 0.7;
    }
    .jss147 {
      background-image: url('/assets/img/playStore.svg');
    }
    .jss148 {
      width: 175px;
      margin: 16px 0;
      background-image: url('/assets/img/playStore.svg');
    }
    .jss149 {
      background-image: url('/assets/img/appleStore.svg');
    }
    .jss150 {
      width: 165px;
      margin: 16px 0;
      background-image: url('/assets/img/appleStore.svg');
    }
    .jss151 {
      background-image: url('/assets/img/amazonStore.png');
    }
    </style>
