<footer id="footer">
  <div class="footer-about">
    <div class="footer-boutique">
      <p class="footer-boutique-label">Trouver une boutique Free</p>
      <p class="footer-boutique-description">
        Dans nos boutiques, les conseillers sont à votre disposition pour vous
        guider et vous présenter les offres Freebox et les offres mobiles Free
        qui vous correspondent.
      </p>
      <span class="footer-boutique-button"
        ><img class="footer-boutique-button-image" src="" alt="" />
        <p class="footer-boutique-button-label">
          Trouvez une boutique &gt;
        </p></span
      >
    </div>
    <div class="footer-social-media">
      <p class="footer-social-media-label">Suivez-nous</p>
      <p class="footer-social-media-description">
        Pour vous tenir au courant des toutes dernières actualités, mises à
        jour, exclusivités, promos, tout sur Free.
      </p>
      <ol class="footer-social-media-list">
        <li class="footer-social-media-list-item">
          <a
            href="//www.facebook.com/FreeFrance/"
            rel="noreferrer noopener"
            target="_blank"
            ><img src="/assets/footer/img/facebook.svg" alt="Facebook"
          /></a>
        </li>
        <li class="footer-social-media-list-item">
          <a href="//twitter.com/free" rel="noreferrer noopener" target="_blank"
            ><img src="/assets/footer/img/twitter.svg" alt="Twitter"
          /></a>
        </li>
        <li class="footer-social-media-list-item">
          <a
            href="//www.instagram.com/free.fr/?hl=fr"
            rel="noreferrer noopener"
            target="_blank"
            ><img src="/assets/footer/img/instagram.svg" alt="Instagram"
          /></a>
        </li>
        <li class="footer-social-media-list-item">
          <a
            href="//www.youtube.com/channel/UCzoLVwQrGOBlfzrma3FiJbg"
            rel="noreferrer noopener"
            target="_blank"
            ><img src="/assets/footer/img/youtube.svg" alt="Youtube"
          /></a>
        </li>
      </ol>
    </div>
  </div>
  <nav class="footer-navigation">
    <div class="footer-section">
      <div class="footer-section-label-wrapper">
        <p class="footer-section-label">Offres &amp; Services</p>
        <img src="/assets/footer/icons/arrowBottom.svg" alt="fleche" />
      </div>
      <ol class="footer-section-list">
        <li class="footer-section-link">Freebox Delta</li>
        <li class="footer-section-link">Freebox Delta S</li>
        <li class="footer-section-link">Freebox Pop</li>
        <li class="footer-section-link">Freebox Révolution</li>
        <li class="footer-section-link">Répéteur Wi-Fi Pop</li>
        <li class="footer-section-link">Freebox + Mobile</li>
        <li class="footer-section-link">Carte Fibre / ADSL</li>
        <li class="footer-section-link">
          <a
            href="https://signup.free.fr/subscribe_promo/#new"
            target="_blank"
            rel="noreferrer noopener"
            >Testez votre éligibilité</a
          >
        </li>
        <li class="footer-section-link">OQEE by Free</li>
        <li class="footer-section-link">
          <a href="https://transfert.free.fr">Free Transfert</a>
        </li>
        <li class="footer-section-link">Résiliez votre FAI</li>
        <li class="footer-section-link">Plan du site</li>
      </ol>
    </div>
    <div class="footer-section">
      <div class="footer-section-label-wrapper">
        <p class="footer-section-label">Espace Abonné</p>
        <img src="/assets/footer/icons/arrowBottom.svg" alt="fleche" />
      </div>
      <ol class="footer-section-list">
        <li class="footer-section-link">
          <a
            href="//subscribe.free.fr/login/"
            target="_blank"
            rel="noreferrer noopener"
            >Espace Abonné</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="//assistance.free.fr/articles/301"
            target="_blank"
            rel="noreferrer noopener"
            >Déménagement</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="//assistance.free.fr/articles/linscription-a-loffre-freebox-756"
            target="_blank"
            rel="noreferrer noopener"
            >Suivi de souscription</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="//assistance.free.fr/articles/consulter-mes-factures-freebox-298?search-text=factures"
            target="_blank"
            rel="noreferrer noopener"
            >Factures</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="/freebox/service-free-proxi/"
            target="_blank"
            rel="noreferrer noopener"
            >Free Proxi</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="//assistance.free.fr/"
            target="_blank"
            rel="noreferrer noopener"
            >Assistance</a
          >
        </li>
        <li class="footer-section-link">
          <a href="/freebox/informations/nous-contacter/" target="_blank"
            >Nous contacter</a
          >
        </li>
        <li class="footer-section-link">
          <a href="/freebox/vos-applications/" target="_blank"
            >Applications Free</a
          >
        </li>
      </ol>
    </div>
    <div class="footer-section">
      <div class="footer-section-label-wrapper">
        <p class="footer-section-label">Informations Légales</p>
        <img src="/assets/footer/icons/arrowBottom.svg" alt="fleche" />
      </div>
      <ol class="footer-section-list">
        <li class="footer-section-link">
          <a
            href="//adsl.free.fr/cgv/last/brochure_tarifaire.html"
            target="_blank"
            rel="noreferrer noopener"
            >Brochure tarifaire</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="//adsl.free.fr/cgv/last/rc.html"
            target="_blank"
            rel="noreferrer noopener"
            >Récapitulatifs contractuels</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="//adsl.free.fr/cgv/last/cgv.html"
            target="_blank"
            rel="noreferrer noopener"
            >Conditions Générales d'Abonnement</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="//adsl.free.fr/cgv/last/cgu_pack_secu.html"
            target="_blank"
            rel="noreferrer noopener"
            >Conditions Générales d’Utilisation du Pack Sécurité</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="//adsl.free.fr/cgv/last/cg_vente.html"
            target="_blank"
            rel="noreferrer noopener"
            >Conditions Générales de Vente</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="/freebox/informations/politique-de-confidentialite/"
            target="_blank"
            >Politique de confidentialité des données</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="//subscribe.free.fr/abuse/"
            target="_blank"
            rel="noreferrer noopener"
            >Signaler un contenu illicite</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="/freebox/informations/protection-enfance/"
            target="_blank"
            rel="noreferrer noopener"
            >Protection de l'enfance</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="/pdf/cnc_guide_interactif.pdf"
            target="_blank"
            rel="noreferrer noopener"
            >Guide Pratique des communications électroniques</a
          >
        </li>
        <li class="footer-section-link">
          <a
            href="/freebox/informations/informations-legales/"
            target="_blank"
            rel="noreferrer noopener"
            >Informations légales</a
          >
        </li>
        <li class="footer-section-link">
          <a href="/freebox/cookies/" target="_blank">Cookies</a>
        </li>
      </ol>
    </div>
    <div class="footer-section">
      <div class="footer-section-label-wrapper">
        <p class="footer-section-label">Société</p>
        <img src="/assets/footer/icons/arrowBottom.svg" alt="fleche" />
      </div>
      <ol class="footer-section-list">
        <li class="footer-section-link">
          <a href="//pro.free.fr/" rel="noreferrer noopener">Free Pro</a>
        </li>
        <li class="footer-section-link">Free s'engage</li>
        <li class="footer-section-link">
          <a href="//www.iliad.fr/" target="_blank" rel="noreferrer noopener"
            >Le groupe Iliad</a
          >
        </li>
        <li class="footer-section-link footer-section-link-highlight">
          <a href="https://free.softy.pro/offres/1?" target="_blank"
            >Free recrute !</a
          >
        </li>
      </ol>
    </div>
  </nav>
  <ol class="footer-mentions-list">
    <li class="footer-mentions-list-item">
      <p>
        Tarifs TTC au 18/01/2022. Offres soumises à conditions, sous réserve
        d’éligibilité en zone dégroupée ou fibrée (uniquement sur les zones de
        déploiement de la fibre optique et sous réserve du raccordement effectif
        du domicile de l'abonné), valables pour toute nouvelle souscription et
        réservées aux personnes n’ayant pas été abonnées à une offre Freebox
        dans les 30 jours qui précèdent cette souscription. Engagement 12 mois
        pour le Forfait Freebox Révolution avec TV by CANAL. Frais de mise en
        service et frais de résiliation : 49€ chacun. En cas de résiliation
        avant la fin de la période d’engagement (Freebox Révolution avec TV by
        CANAL), ou en cas de changement d’offre ou de déménagement perte de la
        remise et facturation des mois restants dus au tarif mensuel de l’offre
        sans la remise. Conditions et éligibilité sur
        <a href="https://www.free.fr/freebox/"><strong>free.fr</strong></a
        >.
      </p>
    </li>
    <li class="footer-mentions-list-item">
      <p>
        <strong>Freebox Pop</strong> : remise de 10€/mois pendant 12 mois, soit
        29,99€/mois puis 39,99€/mois.<br /><strong>Freebox Delta</strong> (avec
        player Pop) : remise de 10€/mois pendant 12 mois, soit 39,99€/mois puis
        49,99€/mois.<br /><strong>Freebox Révolution avec TV by CANAL</strong> :
        remise de 25€/mois pendant 12 mois, soit 19,99€/mois puis 44,99€/mois.
      </p>
    </li>
    <li class="footer-mentions-list-item">
      <p>
        <strong
          >Avantage sur les forfaits mobile Free. Pour les abonnés Freebox
          Pop</strong
        >&nbsp;: réduction de 10€/mois sur un seul Forfait Free, soit
        9,99€/mois, et réduction de 4€/mois jusqu’à trois Forfaits Free, soit
        15,99€/mois, ou réduction de 2€/mois sur un seul Forfait 2€, soit
        0€/mois.
      </p>
      <p>
        <strong>Pour les abonnés Freebox hors Freebox Pop</strong> : réduction
        de 4€/mois jusqu’à quatre Forfaits Free, soit 15,99€/mois, ou réduction
        de 2€/mois sur un seul Forfait 2€, soit 0€/mois.
      </p>
      <p>Réduction Forfait Free et Forfait 2€ non cumulables.</p>
      <p>
        Réductions réservées aux abonnés titulaires d’un abonnement Forfait
        Freebox et valables, pour le Forfait Free, dans le cadre de l’offre
        multi-lignes (même RIB et même adresse). Perte des réductions en cas de
        résiliation du forfait Freebox.
      </p>
    </li>
    <li class="footer-mentions-list-item">
      <p>
        *Selon le baromètre nPerf des connexions Internet fixes en France
        métropolitaine du 20/01/2023 : débits moyens FTTH descendant (596,70
        Mb/s) et montant (406,69 Mb/s) en France métropolitaine. Moyenne établie
        sur 2 234 023 tests réalisés du 01/01/2022 au 31/12/2022 sur des réseaux
        fibrés FTTH par les utilisateurs de l’outil nPerf en France
        métropolitaine et en Corse. Voir étude complète et méthodologie sur
        <a href="https://nperf.com">https://nperf.com</a>
      </p>
    </li>
    <li class="footer-mentions-list-item">
      <p>
        ** Débit Wi-Fi maximum jusqu’à 1Gbits (jusqu’à 0,5 Gbit/s en débit
        partagé) par rapport au débit maximum avec la Freebox Pop Wi-Fi 5. Avec
        la fibre et équipements compatibles.
      </p>
    </li>
    <li class="footer-mentions-list-item">
      <p>
        Wi-Fi 6 valable pour toute nouvelle souscription à l’offre Freebox Pop
        et avec équipements compatibles. Amélioration des débits avec la fibre.
      </p>
    </li>
    <li class="footer-mentions-list-item">
      <p>
        <strong>⁴Apple TV 4K</strong> : valable pour toute nouvelle souscription
        à Freebox Pop ou Freebox Delta. A l’achat : 2,99€/mois pendant 48 mois,
        soit 143,52€. Paiement de la totalité du prix de l’Apple TV 4K possible
        à tout moment.
      </p>
    </li>
    <li class="footer-mentions-list-item">
      <p>
        <strong>Offre de remboursement jusqu’à 100€</strong> sur vos frais de
        résiliation et mois d’abonnement restant à échoir, facturés par votre
        ancien opérateur et valable pour toute nouvelle souscription aux
        Forfaits Freebox Pop, Freebox Delta, Freebox Delta S et Freebox
        Révolution avec TV by CANAL. Pour profiter de cette offre, une fois
        votre accès Internet Freebox activé, imprimez le mail de confirmation de
        souscription et renvoyez-le à l’adresse indiquée dans ce mail au plus
        tard 4 mois suivant la date du mail en y joignant une copie de la
        facture de votre ancien opérateur mentionnant le montant de vos frais de
        résiliation. Toute demande incomplète, illisible ou envoyée après ce
        délai de 4 mois ne sera pas prise en compte. Remboursement par virement.
      </p>
    </li>
  </ol>
  <div class="footer-extra-mentions">
    <div class="footer-extra-mentions-extension">
      <p class="footer-extra-mentions-extension-label">Mentions Légales</p>
      <img
        class="footer-extra-mentions-extension-image"
        src="/assets/footer/icons/plusSquare.svg"
        alt="extension"
      />
    </div>
    <ol class="footer-extra-mentions-mentions footer-mentions-list">
      <li class="footer-mentions-list-item">
        <p>
          <strong>En Fibre</strong> : débit descendant théorique jusqu’à 1Gbit/s
          (jusqu’à 8Gbit/s avec Freebox Delta et jusqu’à 5 Gbit/s partagés
          (jusqu’à : 2,5Gbit/s sur 1 port Ethernet, 1Gbit/s sur 2 ports Ethernet
          et 0,5Gbit/s en Wi-Fi) avec Freebox Pop) et débit montant théorique
          jusqu’à 600Mbit/s (jusqu’à 700 Mbit/s avec Freebox Delta et Freebox
          Pop), selon éligibilité et avec Freebox et équipements
          compatibles.&nbsp;<br /><strong>En xDSL</strong>, les débits sont
          variables en fonction de la longueur de la ligne. ADSL : débit
          descendant atteignable en général entre 1 Mbit/s et 15 Mbit/s et débit
          montant atteignable en général inférieur à 1 Mbit/s. VDSL2 : débit
          descendant atteignable en général entre 1 Mbit/s et 15 Mbit/s, pouvant
          être compris entre 15 Mbit/s et 50 Mbit/s pour les lignes les plus
          courtes (moins de 1 km) et débit montant atteignable en général
          inférieur à 1 Mbit/s, pouvant atteindre 8 Mbit/s pour certaines des
          lignes les plus courtes (moins de 1 km) avec Freebox compatible.
          <a href="https://www.free.fr/data/pdf/fiche_pedagogique_debit.pdf"
            >Plus d’informations sur les débits ici</a
          >.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong
            >Appels depuis la Freebox vers les fixes de plus de 110
            destinations</strong
          >
          (liste susceptible d’évolution sur
          <a href="https://www.free.fr/freebox/"><strong>free.fr</strong></a
          >) et, avec Freebox Pop, Delta et Révolution avec TV by CANAL, vers
          les mobiles de France métropolitaine et DOM (Guadeloupe, Guyane
          Française, Martinique, Mayotte et Réunion). Hors numéros courts,
          spéciaux ou support de services autres que communications.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>TV</strong> sous réserve d’éligibilité. Débit TV minimum
          nécessaire de 2,4 Mbit/s. HD (Haute Définition) : sous réserve
          d’éligibilité avec équipements compatibles HD. 4K HDR (imagerie à
          grande gamme dynamique) : nécessite des contenus, TV et Freebox
          compatibles et uniquement avec la fibre. Réception TNT sous réserve
          d’être en zone de couverture TNT et de disposer d’une installation
          antenne adéquate.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>Répéteur Wi-Fi POP</strong> : un répéteur Wi-Fi 5 mis à
          disposition sur demande au moment de la souscription à l’offre (10€
          facturés si commande ultérieure du répéteur), uniquement avec les
          Forfaits Freebox Pop, Freebox Delta et Freebox Delta S.<br />Avec le
          Forfait Freebox Révolution, Révolution avec TV by Canal répéteur mis à
          disposition (20€) et disponible sur commande après la souscription sur
          l’Espace Abonné. Freebox Révolution avec Wi-Fi
          <a href="http://11.ac/">11.ac</a> nécessaire.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>Application OQEE by Free</strong> : accès au bouquet TV OQEE
          by Free pour les abonnés Freebox détenteurs du service OQEE by
          Free/Freebox TV. Liste des chaines susceptible d’évoluer sur
          <a href="http://free.fr/">free.fr</a>. Application disponible avec
          équipements compatibles et sur le site internet
          <a href="https://oqee.tv/">https://oqee.tv/</a> (certains services
          sont indisponibles sur le site). Liste des équipements compatibles sur
          <a href="https://assistance.oqee.tv/hc/fr"
            ><strong>https://assistance.oqee.tv/hc/fr</strong></a
          >. Start over (reprendre depuis le début) et services de replay :
          accès à une sélection de programmes et sous réserve de disponibilité.
          Service VOD (vidéo à la demande) : disponible selon les équipements.
          100h d’enregistrement inclus pour les abonnés aux forfaits Freebox Pop
          et Delta et 10h pour les abonnés Freebox Révolution et Freebox mini 4K
          uniquement avec multi-TV Player Pop ou Apple (au-delà 0,02€/h/mois).
          En cas de résiliation, l’accès aux programmes enregistrés est
          supprimé.
        </p>
        <p>
          *service VOD (vidéo à la demande) disponible uniquement avec le player
          Pop.<br />*Liste des équipements compatibles en fonction du forfait
          choisi sur
          <a href="https://assistance.oqee.tv/hc/fr"
            >https://assistance.oqee.tv/hc/fr</a
          ><strong>.&nbsp;</strong>
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>Freebox TV/TV OQEE by Free</strong>&nbsp;: bouquets Freebox TV
          ou TV OQEE by Free (avec Player Pop ou Apple TV 4K) selon le Forfait
          Freebox choisi. Liste des chaines, susceptible d’évoluer, sur
          <a href="http://free.fr/">free.fr</a>. Freebox Replay (= service de
          télévision de rattrapage) : accès à une sélection de programmes. VOD :
          accès aux services de vidéo à la demande facturés en sus. OQEE by Free
          : accès à des fonctionnalités avancées. Start over (= reprendre depuis
          le début). Sous réserve de disponibilité des programmes et des
          chaines. Accès à des heures d’enregistrement dont 100h
          d’enregistrement incluses avec les Forfaits Freebox Delta et Pop. 10h
          d’enregistrement incluses pour le Forfait Freebox
          Révolution/Révolution avec TV by Canal avec équipements compatibles
          (au-delà 0,02€/h/mois).&nbsp;En cas de résiliation, l’accès aux
          programmes enregistrés est supprimé.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>OQEE Ciné</strong>
          <strong
            >: Service VOD (vidéo à la demande) en streaming disponible sur
            l’application OQEE by Free avec équipements compatibles ou sur
            player Freebox Pop, Free Devialet et Révolution. </strong
          >Liste des équipements compatibles sur
          <a href="https://assistance.oqee.tv/">https://assistance.oqee.tv/</a>.
          Visionnage illimité sous réserve de la disponibilité des programmes.
          *A emporter : le service est facturé/décompté du forfait mobile
          détenu.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>Service Free Ligue 1</strong> : offre valable en France
          métropolitaine sur Player Freebox et smartphone compatibles
          (téléchargement de l’application depuis App Store ou Google Play et
          création d’un compte nécessaires). Accès libre aux rubriques Actus,
          Buts, Résumés, Séries et en version premium aux meilleurs moments
          (sous forme d’extraits) des matches de la saison 2022/2023 de la Ligue
          1 Uber Eats. Accès premium inclus pour les abonnés Freebox et mobile
          (Série Free et Forfait Free) sinon 3,99€/mois. Limité à deux
          connexions depuis un smartphone et 1 connexion depuis le Payer
          Freebox. Les connexions à l'internet mobile liées à l'usage de ce
          service sont facturées ou décomptées du forfait mobile.Service édité
          par Free SAS.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>Netflix</strong> (compte Netflix nécessaire) : Forfait Netflix
          Essentiel inclus avec le Forfait Freebox Delta et Netflix accessible
          en option (à partir de 8,99€/mois) avec les Forfaits Freebox Pop,
          Freebox Révolution avec TV by Canal et Freebox Révolution. Disponible
          sur TV et PC/Mac depuis
          <a href="https://www.netflix.com/"><strong>netflix.com</strong></a> ou
          sur tablette et smartphone via l’application Netflix. Forfait Netflix
          Essentiel : limité à une connexion à la fois. Voir conditions et accès
          en mode hors connexion sur
          <a href="https://www.netflix.com/"><strong>netflix.com</strong></a
          >.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>Amazon Prime (d’une valeur de 6,99€/mois) : </strong>offert
          pendant 6 mois par Free en option pour les abonnés au Forfait Freebox
          Révolution et Freebox Pop puis 6,99€/mois, sans engagement. Inclus
          pour les abonnés au Forfait Freebox Delta. Réservé aux abonnés qui ne
          sont pas déjà membres Amazon Prime. Offre sujette à changement non
          cumulable avec toute autre promotion Amazon Prime en cours. Accessible
          après création d’un compte Amazon et acceptation des conditions
          générales Amazon Prime. Voir détail des services, contenus et
          conditions sur <a href="https://amazon.fr/">amazon.fr</a>.<br />©2021
          <a href="https://amazon.com/">Amazon.com</a>, Inc. ou ses sociétés
          affiliées. Amazon, Amazon Prime Video, et toutes les marques associées
          sont des marques d'<a href="https://amazon.com/">Amazon.com</a>, Inc.
          ou de ses sociétés affiliées.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          Disney+ accessible en option : 3 mois inclus puis 8,99€/mois en option
          valable pour les offres Freebox Pop ou Freebox Delta et réservée aux
          non abonnés Disney+. Disponible en France métropolitaine, sur TV et
          PC/Mac depuis www.disneyplus.com ou sur tablette et smartphone via
          l’application Disney+. Création d’un compte auprès de Disney+
          nécessaire. Voir conditions sur www.disneyplus.com. ©2021 Disney et
          ses sociétés affiliées. Tous droits réservés. La résiliation prendra
          effet à la fin de la période de facturation en cours.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>Apple TV+ en option</strong> : Apple TV+ à 6,99€/mois après
          essai gratuit de 3 mois, valable avec les offres Freebox avec Player
          Pop ou Apple TV 4K (multi-TV compris). Offre non cumulable. Un
          abonnement par groupe de Partage familial. L’abonnement est
          automatiquement reconduit s’il n’est pas résilié. Des restrictions et
          d’autres conditions s’appliquent. Voir
          <a href="https://www.apple.com/fr/promo/">apple.com/fr/promo</a> pour
          plus d’informations.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>CANAL+SÉRIES </strong>– 2 utilisateurs : 12 mois inclus, puis
          9,99€/mois&nbsp;avec engagement mensuel. Offre valable en France
          Métropolitaine réservée aux abonnés Free à une offre Freebox Pop,
          Freebox Delta et Freebox Révolution, pour toute souscription auprès de
          GROUPE CANAL+ à CANAL+SERIES 12 mois inclus dans le prix facturé par
          Free (au lieu de 9,99€/mois). Réservée aux non abonnés à CANAL+
          SÉRIES, sous réserve de souscription à cette offre sur l’Espace Abonné
          Free dans un délai de deux mois à compter de l’activation de la ligne
          FREE. Limité à deux connexions à la fois dont un écran TV maximum. A
          défaut de résiliation avant la date d’échéance mensuelle, l’abonnement
          CANAL+ SERIES sera tacitement reconduit auprès de GROUPE CANAL+ pour
          des durées successives d’un mois. A l’issue des 12 mois inclus et sauf
          résiliation, l’abonnement CANAL+ SERIES sera tacitement reconduit au
          tarif en vigueur au jour de la reconduction (à titre indicatif au
          30.09.2022&nbsp;: 9,99€/mois pour CANAL+ &nbsp;SERIES 2 utilisateurs)
          et sera facturé par Free pour le compte de GROUPE CANAL+. Tout
          changement de formule d’abonnement à CANAL+ SERIES ou résiliation au
          cours des 12 premiers mois entrainera la perte de la promotion. CANAL+
          SÉRIES service de vidéo à la demande disponible en France
          Métropolitaine sur TV via box Free ou via&nbsp;myCANAL.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>Cafeyn</strong> (compte Cafeyn nécessaire) : bouquet presse
          avec le forfait Freebox Delta, activable depuis l’Espace abonné.
          Disponible sur tablette et smartphone via l’application Cafeyn. Limité
          à une connexion à la fois (Tablette et smartphone). Editeur et titres
          susceptibles d’évoluer. Voir liste des titres sur
          <a href="https://www.cafeyn.co/fr/free/catalog"
            ><strong>www.cafeyn.co/fr/free/catalog</strong></a
          >
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong>Applications Freebox / Freebox Connect</strong> : applications
          disponibles pour les abonnés détenteurs d’une Freebox Pop, Delta ou
          Révolution, sous réserve de téléchargement de l’application depuis
          Google Play ou l’App Store sur tablette ou smartphone compatible et
          accessible sous couverture mobile ou wifi. Fonctionnalités disponibles
          selon l’offre Freebox souscrite.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          <strong
            >Avantage sur les forfaits mobile Free. Pour les abonnés Freebox
            Pop</strong
          >&nbsp;: réduction de 10€/mois sur un seul Forfait Free, soit
          9,99€/mois, et réduction de 4€/mois jusqu’à trois Forfaits Free, soit
          15,99€/mois, ou réduction de 2€/mois sur un seul Forfait 2€, soit
          0€/mois.
        </p>
        <p>
          <strong>Pour les abonnés Freebox hors Freebox Pop</strong> : réduction
          de 4€/mois jusqu’à quatre Forfaits Free, soit 15,99€/mois, ou
          réduction de 2€/mois sur un seul Forfait 2€, soit 0€/mois. Réduction
          Forfait Free et Forfait 2€ non cumulables. Réductions réservées aux
          abonnés titulaires d’un abonnement Forfait Freebox et valables, pour
          le Forfait Free, dans le cadre de l’offre multi-lignes (même RIB et
          même adresse). Perte des réductions en cas de résiliation du forfait
          Freebox.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>Le piratage nuit à la création artistique.</p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          Amazon, Alexa et tous les logos associés sont des marques
          d’Amazon.com, Inc. ou de ses sociétés affiliées.
        </p>
      </li>
      <li class="footer-mentions-list-item">
        <p>Google, Google Play et Android sont des marques de Google Inc.</p>
      </li>
      <li class="footer-mentions-list-item">
        <p>
          Dolby, Dolby Vision, Dolby Atmos et le symbole Double-D sont des
          marques de Dolby Laboratories.
        </p>
      </li>
    </ol>
  </div>
  <div class="footer-revision">
    <p>Révision: 8bb06002cba3dbc809725f1be2f2dedc3a159b7f</p>
  </div>
</footer>
