<p class="breadcrumb">
    Offre FreeGaming
</p>
<div class="info">

    <img src="assets/img/gamerinfo.png"/>

    <h1 class="info-title">Les gamers</h1>

    <p class="info-describe">
        Boosté par la toute dernière technologie créée par nos soins, profité de notre nouvelle freebox pop 
        avec la location d'un setup gamer pour pouvoir jouer avec un setup convenable.
        Cela permettra à tous de rentrer dans le monde du gaming avec un setup top et une connexion des plus stables du marché.
    </p>

    <div class="container-img">
        <img src="assets/img/i7.png" class="i7"/>
    </div>

</div>
