<div class="content">
    

    <div class="products">
        <h1>Contenu du setup</h1>

        <div class="container-describe">
            La Freebox pop allier au set up que nous vous proposons sera parfait pour jouer et être capable de
            concurrencer les meilleurs. Le pack set-up contient une chaise, un écran, une tour, un clavier mécanique
            sans fil, un casque sans fil, une souris sans fil et tapis de souris.
        </div>

        <div *ngFor="let product of data">
            <app-itemcontainer [data]="product"></app-itemcontainer>
        </div>

    </div>
</div>